<!--<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Formulario - Agregar Pelicula Favorita </title>
    </head>
-->
    <body>

        {% if miFormulario.errors %}

        <p style="color: red;"> Están mal los datos, revisar</p>

        {% endif %}

        <form action="" method="POST">{% csrf_token %}

            <!-- <p>Nombre: <input type="text" name="nombre"> </p>
            <p>Apellido: <input type="text" name="apellido"> </p>
            <p>Edad: <input type="number" name="edad"> </p>  -->
            
            <table>

                {{ miFormulario.as_table }}

            </table>
            
            <input type="submit", value="Enviar">

        </form>
    
    </body>
<!--</html>